<div class="container">
  <h1>Channel List</h1>
    <% if (channels.length > 0) { %>
    <table class="table table-hover">
      <thead>
        <tr>
          <td><Strong>Channel Name</Strong></td>
          <td><Strong>Owner</Strong></td>
        </tr>
      </thead>
      <tr>
        <% _.each(channels, function (channel) { %>
        <% if (!channel.owner) return true; %>
        <td><a href="/c/<%= channel.name %>"><%= channel.name %></a></td>
        <td><%= channel.owner.name %></td>
      </tr>
      <% }) %>
    </table>
    <% } else { %>
    <h2><small>No Channels Available</small></h2>
    <% } %>
</div>
